Jason-XML-Bilal/index.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Aptech">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Gender"/>
              <xs:element type="xs:byte" name="Age"/>
              <xs:element type="xs:string" name="Email"/>
              <xs:element type="xs:long" name="PhoneNumber"/>
              <xs:element type="xs:byte" name="EnrollmentNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>